// Masthead
//
// Super small header above the content for site name and short description.

@import url('https://fonts.googleapis.com/css?family=Assistant:700');

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.masthead-title {
  ::-moz-selection { /* Code for Firefox */
    color: inherit;
  }

  ::selection {
    color: inherit;
  }
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2rem;
  padding: .25rem .75rem;
  margin: .67em 0;
  text-align: center;
  background: $header;

  a {
    font-family: "Assistant", sans-serif; 
    color: inherit;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    border-bottom: none;
    box-shadow:none;
    font-weight:700;


  }

  a:hover {
    text-decoration: none;
    background: none;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
