// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  overflow: hidden; // clearfix
  /*margin: 0 -1.5rem 1rem;*/
  color: #ccc;
  /*text-align: center;*/
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  /*display: block;*/
  padding: 1rem;
  /*border: solid #eee;*/
  /*border-width: 1px 0;*/

  &:first-child {
    margin-bottom: -1px;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  color: #000;
  background-color: none;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }

  .pagination-item {
    float: center;
    /*width: 50%;*/
    /*border-width: 1px;*/
  color: black;
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: .25rem .75rem;
  margin: .67em 0;
  text-align: center;
  box-shadow: inset 0 0 0;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: 700;

    &:first-child {
      margin-bottom: 0;
      text-align: center;
      float: left;
    }
    &:last-child {
      margin-left: -1px;
      text-align: center;
      float: right;
    }
  }
}
