
$main-accent-color: #7F00FF;
$secondary-accent-color: #B185A7;

$selection: #ffe500;
$selection-alpha: rgba($selection, .7);

$secondary-accent-color-alpha: rgba($secondary-accent-color, .7);
$main-accent-color-alpha: rgba($main-accent-color, .5);

$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
$brown: #8f5536;

$root-font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Roboto", Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.4;

$body-color: #31393C;
$header: #0F1108;
$body-bg: #FDFFFC;
$link-color: $main-accent-color;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;

